html,body {
	height:100%; 
}
 

.content-wrap{ 
	img{
		max-width:100%;
		height:auto;
	}
}

@include breakpoint-max(lg){
	.container{
		max-width: 100%!important;
	}
}

@import "theme/typo";
@import "theme/buttons";
@import "theme/form";
@import "theme/icons";
@import "theme/slick";

@import "theme/main-navbar";
@import "theme/main-footer";

@import "theme/ui-video-full";

@import "theme/ui-products";

/*

	Ajax things

*/

.ajax-load-holder{
	position:relative;
	&.ajax-loading{
		min-height: 50vh;
		&:after{
			/*
		
			$position:fixed,
			$z-index:9999, 
			$display:none, 
			$bg-color: $BC-body-loader-color, 
			$bg-img: ../images/loaders/tail-spin-000000.svg, 
			$bg-size: $BC-body-loader-size, 
			$transition: $BC-body-loader-transition 

			*/
			content: "";
			@include make-loader(absolute, 99, block, rgba(#fff,.6), '../images/loaders/tail-spin-000000.svg', $BC-body-loader-size, $BC-body-loader-transition );
		}
	}
}



.widget-box {
	.section-title{
		font-size: 1.4rem;
	}
	ul{
		margin:$grid-gutter 0;
		li{
			border-bottom:1px solid $primary;
			a{
				padding:10px!important;
				color: $secondary;
			}
			&:last-child{
				border-bottom:0;
			}
			a:hover,
			&.active a {
			  color: $primary!important;
			}
		}
	}
}

[data-toggle="nav-affix"].affix {

	&[data-affix-breakpoint="md"]{
		@include breakpoint(md){
			.affix-column{
				max-height: 100vh;
		    overflow-y: auto;
			}
		}
	} 
	
}

/*

	Woocommerce specific

*/


#place_order.button{
	border-color:$primary;
	background-color:$light;
	color:$primary;
	font-size: 1.3rem;
	padding-left: 2rem;
	padding-right: 2rem;
	&:hover{
		background-color:#fff;
	}
} 

ul.row{
	list-style: none;
}  

#order_review_heading{
	display: none;
}

.shop_table {
	background-color:#fff;

	dl.variation{
		font-size: 11px;
    line-height: 14px;
    padding-left: 10px;
	}
}

#affix-checkout-area{
	form.checkout {
		@include breakpoint-max(md){
			display: flex;
    	flex-direction: column;
    	#customer_details{
    		order:1;
    	}
    	#payment_method{
    		order:3;
    	}
    	#affix-column{
    		order:2;
				margin-right: -19px;
				margin-left: -19px;
    	}
		}
	}
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals{
	float: none;
	width: 100%;
}

.woocommerce .quantity .qty{
	width: 4.631em;
}

.single-product{
	.quantity .qty{
		height: 57px;
	}
}


